/*canvas area*/

.canvas-area {
    width: 100%;
    height: 70vh;
}

.canvas-container {
    flex-direction: column;
    background-color: var(--clr3);
    /* width: 50%; */
    padding: 20px;
    height: 70vh;
}



.canvas-container .back-to-gallery {
    text-decoration: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--clr4);
    font-style: inherit;
    padding: 30px;

}

/* .canvas-container .drag-box {
    position: absolute;
    left: 10px;
    top: 10px; 
    width: 400px;
    height: 30px;
    background-color: rgb(119, 117, 115);
    opacity: 0.5;
} */

.main-canvas {
    display: block;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    /* margin: 30px; */
}


.main-canvas:hover {
    box-shadow: 0px 8px 12px 2px var(--clr4);
    transition: 0.6s;
}