:root {
    /* orange */
    --clr1: #FF9826;
    /* background images */
    --clr2: #F8F8F8;
     /* header */
    --clr3: #FFFFFF;
    /* link buttons */
    --clr4: #989898;
    /* borders  */
    --clr5: #DBDBDB;

     /* mq variables */
    
   --large: 980px;
   --medium: 860px;
   --small: 500px;
}
